*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}
.container{
    width: 100%;
    min-height: 100vh;

}
.wrapper{
    max-width: 1024vh;
    margin: 0 auto;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 0;
}
.list__cell{
    flex-basis: calc(25% - 40px);
    min-height: 150px;
    margin: 20px;
    list-style: none;
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    background-color: white;
}
.list__caption{
    width: calc(25% - 40px);
    margin: 0 20px;
    list-style: none;
    font-weight: bold;
    background-color: silver;
}
.list__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    min-height: 100%;
    cursor: all-scroll;
}
.list__card-header {
    text-transform: lowercase;
    font-weight: bold;
    padding: 12px 20px;
    background-color: blue;
    color: white;
}
.list__card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: silver;
    flex-grow: 1;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 20px;

}
.hide {
    display: none;
}
.bgc {
    background-color: grey;
}