body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
div {
    text-align: center;
    padding: 10px;
    background-color: silver;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

article {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
}

p {
    color: lightslategrey;
}

h2  {
    color: blue;
}

input, textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: silver;
    border: none;
    cursor: pointer;
}
