
.wrapper {
    background-color: lightgreen;
}
.riddle_1 {
    text-align: center;

}

.container {
    background-color: cyan;
    width: 368px;
    height: 160px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    gap: 20px;
}
.answer {
    display: none;
}
.container.show-answer .answer {
    display: block;
}
